.shadow, header #headline-area, header #navbar, #amsterdam-info, #london-info, #amsterdam-info .hotel-link img, #london-info .hotel-link img, #amsterdam-info .discount-button, #london-info .discount-button, .bill-content, .shape-content-box, #content-top figure, #content-bottom .description-box, #content-top .book-btn {
  box-shadow: 5px 5px 5px grey;
}

header {
  height: 120px;
  width: 100%;
}
header #headline-area {
  height: 110px;
  background-color: #003680;
}
header #logo {
  position: absolute;
  height: inherit;
  top: 15px;
  left: 60px;
  width: 80px;
  height: 80px;
}
header img {
  width: 100px;
  max-width: 100%;
}
header #headline {
  position: absolute;
  left: 170px;
  top: 20px;
  font-weight: bold;
  font-size: 2.2em;
  color: white;
}
header #nav-btn {
  position: absolute;
  right: 0px;
  top: 86px;
  height: 24px;
  width: 28px;
  background-color: #0080ff;
}
header #nav-btn:hover, header #nav-btn:focus {
  background-color: white;
}
header .hidden {
  visibility: hidden;
}
header .visible {
  visibility: visible;
}
header #navbar {
  height: 45px;
}
header ul {
  background-color: #0080ff;
  width: 100%;
  height: inherit;
  list-style-type: none;
}
header li {
  float: left;
  height: 45px;
  width: 25%;
  text-align: center;
}
header #navbar a:hover {
  background-color: #003680;
  border-bottom: 5px solid #0080ff;
  padding-bottom: 5px;
  color: white !important;
}
header #navbar a {
  font-weight: bold;
  display: block;
  padding: 10px 20px;
}

@media screen and (max-width: 810px) {
  #headline {
    font-size: 1.7em !important;
  }

  .shape-content-box, #content-top figure, #content-bottom .description-box {
    min-width: 250px !important;
  }

  #navbar {
    font-size: 0.7em !important;
  }

  figcaption {
    font-size: 1.1em !important;
    height: 125px !important;
  }
}
@media screen and (max-width: 640px) {
  #headline {
    font-size: 1.2em !important;
  }

  #navbar {
    font-size: 0.6em !important;
  }

  figcaption {
    font-size: 1em !important;
  }

  .description-travel-text h1 {
    font-size: 3em !important;
  }
}
@media screen and (max-width: 500px) {
  .shape-content-box, #content-top figure, #content-bottom .description-box {
    min-width: 220px !important;
  }

  .footer-content {
    font-size: 0.8em !important;
    padding: 5px 15px !important;
  }

  figcaption {
    font-size: 0.8em !important;
    height: 95px !important;
  }

  .book-btn {
    font-size: 1.5em !important;
  }

  .bill-img {
    width: 25% !important;
    margin-right: 10px !important;
  }

  .bill-content {
    height: 500px !important;
  }

  .bill-both {
    height: 1050px !important;
  }

  .highlight-img {
    transition: none;
  }
}
@media screen and (max-width: 420px) {
  #headline {
    font-size: 0.9em !important;
  }

  #navbar a {
    padding: 5px 5px !important;
  }

  #navbar {
    font-size: 0.45em !important;
    height: 30px !important;
  }

  .footer-content {
    font-size: 0.7em !important;
    padding: 5px 12px !important;
  }
}
@media screen and (max-width: 350px) {
  #headline {
    font-size: 0.6em !important;
    left: 140px !important;
  }

  #logo {
    left: 30px !important;
  }

  .description-travel-text h1 {
    font-size: 2em !important;
  }
}
.borders, #amsterdam-info, #london-info, .bill-content, .shape-content-box, #content-top figure, #content-bottom .description-box {
  border: 1px solid #666666;
}

.border-radius, #amsterdam-info, #london-info, #amsterdam-info .hotel-link img, #london-info .hotel-link img, #amsterdam-info .discount-button, #london-info .discount-button, .bill-content, .shape-content-box, #content-top figure, #content-bottom .description-box, #content-top .book-btn {
  border-radius: 5px;
}

#amsterdam-info, #london-info {
  width: 90%;
  margin: 5%;
}
#amsterdam-info .flag, #london-info .flag {
  width: 100%;
  max-height: 120px;
}
#amsterdam-info .description-travel, #london-info .description-travel {
  padding: 20px;
  line-height: 1.8em;
  color: #333;
}
#amsterdam-info .description-travel-text h1, #london-info .description-travel-text h1 {
  color: #018cc5;
  font-size: 5em;
  font-weight: bold;
  padding: 25px 0px;
}
#amsterdam-info .description-travel-text ul, #london-info .description-travel-text ul {
  padding-left: 50px;
}
#amsterdam-info .description-travel-text p::first-letter, #london-info .description-travel-text p::first-letter {
  font-size: 2.5vw;
  font-weight: bold;
  color: #003680;
}
#amsterdam-info .hotel-link, #london-info .hotel-link {
  text-align: center;
}
#amsterdam-info .hotel-link img, #london-info .hotel-link img {
  width: 60%;
  max-width: 100%;
}
#amsterdam-info .discount-button, #london-info .discount-button {
  border: 3px solid green;
  text-align: center;
  width: 70%;
  margin: 2% 15%;
  font-size: 2vw;
  line-height: 2.5em;
  background-color: red;
}

.bill-content {
  margin: 5%;
  height: 400px;
  line-height: 2.5em;
  padding: 15px;
}

.bill-header {
  width: 30%;
  color: #003680;
}

.bill-img {
  width: 30%;
  float: right;
  margin-right: 50px;
}

.bill-img, #golden {
  border-radius: 50%;
  position: relative;
}

#golden {
  width: 100%;
}

#invoice-both-bottom {
  width: 100%;
  height: auto;
  margin: 5px 15px;
}

#goldenBtn {
  width: 30%;
}
#goldenBtn #price-london {
  background-color: white;
  hight: 50px;
  width: 30%;
  line-height: 4em;
  font-size: 2em;
  border: 4px dotted #003680;
}
#goldenBtn #bill-both-container {
  display: flex;
  jusify-content: space-around;
}
#goldenBtn .bill-both {
  width: 28%;
}

* {
  font-family: Arial;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.shape-content-box, #content-top figure, #content-bottom .description-box {
  min-width: 400px;
  width: 40%;
  margin-top: 15px;
  background-color: white;
}

.flex-content, #content-top, #content-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5eaee;
}

figure {
  margin: 0;
  padding: 0;
}

#content {
  marign-left: 30px;
  margin-bottom: 30px;
}

#content-top figcaption {
  height: 166px;
  padding: 5px;
  font-size: 1.5em;
}
#content-top img {
  width: 100%;
}
#content-top #city {
  color: #018cc5;
}
#content-top #price, #content-top #average {
  position: relative;
  float: right;
}
#content-top .price-quoting {
  margin-top: 10px;
  margin-bottom: 10px;
}
#content-top #price, #content-top #country {
  color: #666666;
}
#content-top #average {
  color: #9a9a9a;
}
#content-top .btn {
  text-align: center;
  padding-top: 8px;
}
#content-top #book-amsterdam {
  margin-top: 10px;
}
#content-top .book-btn {
  font-size: 2em;
  background-color: #fbf4ad;
  padding: 8px;
  color: #003680;
}
#content-top #content-invoice {
  height: 250px;
}
#content-top .trip-name {
  padding: 10px 40px;
}

#content-bottom h3 {
  color: #9a9a9a;
}
#content-bottom h1 {
  color: #018cc5;
  padding: 10px 5px;
}
#content-bottom .flag {
  width: 100%;
}
#content-bottom .description {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
#content-bottom .description a {
  width: 45%;
}
#content-bottom .description-text {
  width: 40%;
  line-height: 1.5em;
  font-size: 1vw;
  padding: 8px;
  color: #333;
}
#content-bottom .description-text p::first-letter {
  font-size: 1.8vw;
  color: #003680;
}
#content-bottom .highlight-img {
  width: 18vw;
  height: 13vw;
  margin-top: 25px;
}

.highlight-img {
  transition: transform 2s;
}

.highlight-img:hover {
  transform: scale(1.5, 1.5);
}

footer {
  position: relative;
  width: 100%;
  hight: 100px;
  background-color: #003680;
  text-align: center;
}
footer .footer-content {
  display: inline;
  color: white;
  line-height: 40px;
  font-size: 1em;
  padding: 5px 35px;
}

/*# sourceMappingURL=style.css.map */
